/*    GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/*BODY (Light blue background)*/
body {
    min-height: 90vh;
}

/*MAIN CONTAINER (middle)*/
.mainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    padding: 10px; /* for mobile */
}

/*OUTER WRAPPER*/
.container {
    height: 100vh;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*WHITE CARD*/
.card {
    background: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

/* QR Image */
.qr-img {
    width: 100%;
    border-radius: 12px;
}

/* Heading */
.card h2 {
    margin-top: 20px;
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

/* Description text */
.card p {
    margin-top: 12px;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    padding: 0 12px;
}

/*FOOTER - given default*/
.attribution {
    margin: 20px 0;
    text-align: center;
    font-size: 12px;
}
